[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
django = "*"
psycopg2 = "*"
django-extensions = "*"
ipython = "*"
iommi = "*"

[requires]
python_version = "3.8"

[scripts]
runserver = "python manage.py runserver"
test = "python manage.py test"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
shell_plus = "python manage.py shell_plus --ipython"
